.search{
    display: flex;
}

.infos{
    margin: 2% 10%;
}

.mainBox, .docBox, .infoBox, .guarantorBox{
    background-color: #FFF;
    border: 3px solid #676B8B;
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 10px;
}

label, input::placeholder{
    color: #676B8B;
    font-family: Verdana;
    font-size: 30px;
    font-weight: 700;
}

button {
    width: 434px;
    height: 52px;
    background-color: #F5A6E4;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 700;
    margin-top: 12px;
}

.button{
    display: flex;
    justify-content: center;
}

form > div {
    margin-top: 10px;
}

input {
    height: 48px;
    width: 100%;
    color: #676B8B;
    font-family: Verdana;
    font-size: 25px;
    font-weight: 700;
}

input::placeholder{
    font-size: 25px;
}

select {
    width: 200px;
    height: 58px;
    border-radius: 10px;
    border: 3px solid #676B8B;
    background: #FFF;
    color: #000;
    font-family: Verdana;
    font-size: 30px;
    font-weight: 700;
}